[Unit]
Description=ContainerEx
After=network.target

[Service]
ExecStart=/data/container-ex/venv/bin/python3 /data/container-ex/main.py
Restart=on-failure

[Install]
WantedBy=default.target